@import url("https://fonts.googleapis.com/css2?family=Winky+Rough&display=swap");
@font-face {
  font-family: "Spiro";
  src: url("fonts/spiro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --light-bg-Color: #b6d6d6;
  --light-primary-color: rgb(72, 166, 167);
  --light-text-color: black;
  --dark-bg-Color: #000016;
  --dark-bg-Color2: #101010;
  --dark-text-color: rgb(242, 239, 231);
  --dark-primary-color: #004a50;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

header {
  z-index: 889;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.205);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease;
}

header.sticky {
  background-color: var(--light-primary-color);
  padding: 10px 200px;
}

header .brand {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-family: "Winkey Rough", cursive;
  color: var(--dark-text-color);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: var(--light-primary-color);
}

header .navigation {
  position: relative;
}

header .navigation a {
  position: relative;
  color: var(--dark-text-color);
  font-size: 1em;
  text-decoration: none;
  font-weight: 600;
  margin-left: 30px;
}

header .sticky .navigation a:hover {
  color: var(--light-text-color);
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--dark-text-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.3s ease-in-out;
}
.navigation a:hover::after {
  transform: scaleX(1);
}

/*////////////working area   //////////////////////////////// */
select {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color:var(--dark-primary-color);
  color: var(--dark-text-color);
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px rgba(72, 166, 167, 0.7);
  transition: all ease 0.3s;
}

select:hover{
  box-shadow: 0 0 10px rgba(72, 166, 167, 0.7);
}





/* ///////////////////////////////////////// */

section {
  padding: 100px 200px;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--dark-bg-Color);
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: var(--dark-text-color);
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span {
  font-size: 2.8rem;
  font-weight: 600;
}

.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.animated-text h3 {
  color: transparent;
  background: linear-gradient(
    to left,
    var(--light-primary-color),
    var(--dark-text-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
  animation: text-move 6s infinite ease-out;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-direction: row;
  position: relative;
}

.profile-pic {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: 250px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--dark-bg-Color);
  position: relative;
  z-index: 5;
  box-shadow: 0 0 25px var(--dark-bg-Color2);
}

.loader {
  box-shadow: 0 0 25px var(--light-primary-color);
}

.loader:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  background-image: conic-gradient(
    from var(--angel),
    var(--light-primary-color) 0%,
    var(--light-primary-color) 7%,
    var(--dark-bg-Color) 7%,
    var(--dark-bg-Color) 100%
  );
  animation: spin 10s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.loader:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-image: conic-gradient(
    from var(--angel),
    var(--light-primary-color) 0%,
    var(--light-primary-color) 7%,
    var(--dark-bg-Color) 7%,
    var(--dark-bg-Color) 100%
  );
  animation: spin 7s ease-in infinite reverse;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.loader:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  background-image: conic-gradient(
    from var(--angel),
    var(--light-primary-color) 0%,
    var(--light-primary-color) 7%,
    var(--dark-bg-Color) 7%,
    var(--dark-bg-Color) 100%
  );
  animation: spin 3s steps(10) infinite reverse;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@property --angel {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin {
  from {
    --angel: 0deg;
  }
  to {
    --angel: 360deg;
  }
}

@keyframes text-move {
  0%,
  15% {
    margin-top: 0px;
  }

  25%,
  40% {
    margin-top: -70px;
  }

  50%,
  65% {
    margin-top: -140px;
  }

  75%,
  90% {
    margin-top: -70px;
  }

  100% {
    margin-top: 0px;
  }
}
.btn {
  width: fit-content;
  height: fit-content;
}
.btn a {
  color: var(--dark-text-color);
  background-color: var(--light-primary-color);
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin-top: 30px;
  transition: 0.5s ease;
}

.btn:hover a {
  background-color: #239750;
  border-radius: 15px;
  animation: wigle 500ms linear;
  animation-iteration-count: calc(1);
}
@keyframes wigle {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  40% {
    transform: rotateZ(-15deg);
  }
  60% {
    transform: rotateZ(15deg);
  }
  80% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.media-icons {
  margin-top: 50px;
}

.media-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  background-color: transparent;
  border: solid 2px var(--light-primary-color);
  border-radius: 50%;
  color: var(--light-primary-color);
  margin: 0.3rem 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  transform: scale(1) !important;
}
.media-icons a:hover {
  color: var(--dark-text-color);
  background-color: var(--light-primary-color);
  transform: scale(1.2) !important;
}

/* About */
.wave-haikei {
  width: 100%;
  display: block;
}
.about {
  background-color: var(--light-bg-Color);
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: var(--light-primary-color);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 50%;
  width: 40px;
  height: 4px;
  background-color: var(--light-primary-color);
  transform: translateX(-50%);
  animation: catch 8s ease-in-out infinite;
}

.section-title::after {
  content: "";
  position: absolute;
  top: 87px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light-primary-color);
  transform: translateX(-50%);
  animation: bounce 8s linear infinite;
}

@keyframes bounce {
  0% {
    left: 45%;
    transform: translateY(0px);
  }
  10% {
    left: 30%;
    transform: translateY(-40px);
  }
  20% {
    left: 10%;
    transform: translateY(0px);
  }
  30% {
    left: 20%;
    transform: translateY(-40px);
  }
  40% {
    left: 45%;
    transform: translateY(0px);
  }
  50% {
    left: 70%;
    transform: translateY(-40px);
  }
  60% {
    left: 85%;
    transform: translateY(0px);
  }
  70% {
    left: 70%;
    transform: translateY(-40px);
  }
  80% {
    left: 45%;
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-40px);
  }
  100% {
    left: 45%;
    transform: translateY(0px);
  }
}

@keyframes catch {
  0% {
    left: 50%;
  }
  20% {
    left: 10%;
  }
  40% {
    left: 50%;
  }
  60% {
    left: 85%;
  }
  80% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}

.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 45%;
}

.about .content .col-right {
  position: relative;
  width: 50%;
}

.about .content .col-left .img-card {
  position: relative;
  width: 100%;
  min-height: 450px;
}

.about .content .col-left .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 0 0 25px var(--light-primary-color);
  transition: 0.3s ease;
}
.about .content .col-left .img-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--light-primary-color),
    0 0 50px var(--light-primary-color), 0 0 75px var(--light-primary-color);
}

.about .content .col-right .content-title {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.about .content .col-right .paragraph-text {
  font-size: 1em;
  font-weight: 600;
}

/* Skills Section */

.skills {
  background-color: var(--dark-bg-Color);
}

.skills .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-text-color);
  margin-top: 20px;
}

.skills .content .col-left {
  position: relative;
  width: 46%;
}

.skills .content .col-left .content-title {
  margin-bottom: 20px;
}

.skills .content .col-right {
  position: relative;
  width: 46%;
}

.skills .content .col-right .bar {
  margin-bottom: 15px;
  padding: 10px;
}

.skills .content .col-right .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .content .col-right .bar .info span {
  font-size: 18px;
  font-weight: 500;
}

.skills .content .col-right .bar .line {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: #ccc;
  border-radius: 2px;
}

.skills .content .col-right .bar .line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.skills .content .col-right .bar .html::before {
  width: 95%;
  background-color: #e45126;
}

.skills .content .col-right .bar .css::before {
  width: 90%;
  background-color: #0c73b8;
}

.skills .content .col-right .bar .javascript::before {
  width: 80%;
  background-color: #e3a324;
}

.skills .content .col-right .bar .python::before {
  width: 85%;
  background-color: blue;
}

.skills .content .col-right .bar .php::before {
  width: 65%;
  background-color: #6d7eb8;
}

/* Services */
.services {
  background-color: var(--light-bg-Color);
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.title p {
  font-size: 1em;
  width: 80%;
  text-align: center;
}

.services .content .card {
  background-color: #fff;
  width: 340px;
  margin: 10px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1/15%);
  transition: 0.3s linear;
}

.services .content .card .service-icon {
  color: var(--light-primary-color);
  font-size: 8rem;
  text-align: center;
  transition: 0.3s linear;
}

.services .content .card .info {
  text-align: center;
}

.services .content .card .info h3 {
  color: var(--light-primary-color);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
  transition: 0.3s linear;
}

.services .content .card:hover {
  background-color: var(--light-primary-color);
  color: var(--dark-text-color);
  transform: translateY(-5px);
}

.services .content .card:hover .service-icon,
.services .content .card:hover .info h3 {
  transform: translateY(-10px);
  color: var(--dark-text-color);
}

/* Work */

.work {
  background-color: var(--dark-bg-Color);
}

.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .card {
  width: 340px;
  margin: 15px;
}

.work .content .card .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}

.work .content .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s linear;
}

.work .content .card .card-img img:hover {
  transform: scale(1.2);
}

/* Contact */
.contact {
  background-color: var(--light-bg-Color);
}
.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card {
  background: #fff;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.contact .content .row .card .contact-icon {
  color: var(--light-primary-color);
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon {
  transform: translateY(-10px);
}

.contact .content .row .card:hover {
  transform: translateY(-5px);
}

.contact .content .row .card .info {
  text-align: center;
}

.contact .content .row .card .info h3 {
  color: var(--light-text-color);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.contact .content .row .card .info span {
  color: #666;
  font-weight: 500;
}

.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.contact-form h3 {
  color: var(--light-text-color);
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  color: var(--light-text-color);
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  resize: none;
}

.contact-form .input-box .send-btn {
  color: var(--dark-text-color);
  background: var(--light-primary-color);
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: fit-content;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 15px;
}
.send-btn {
  height: 40px;
}
.btn-send{
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translate(-50% , -50%);
}
.contact-form .input-box .btn-send:hover .send-btn{
  background-color: #239750;
  animation: wigle 500ms ease-in-out;
  animation-iteration-count: calc(1);
}

/* Footer */

.footer {
  background: var(--dark-bg-Color);
  color: var(--dark-text-color);
  text-align: center;
  padding: 2em;
}

.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer p {
  font-size: 16px;
  margin-top: 10px;
}

.footer p a {
  color: var(--light-primary-color);
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  .navigation.active {
    z-index: 889;
    position: fixed;
    background-color: var(--dark-text-color);
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
    transition: 0.3s ease;
  }

  header .navigation a {
    color: var(--light-text-color);
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 40px;
    border-radius: 5px;
  }

  header .navigation a:hover {
    background-color: var(--light-primary-color);
    color: var(--dark-text-color);
    transition: 0.3s ease;
  }

  .menu-btn {
    position: absolute;
    background-image: url(image/menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background-image: url(image/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    transition: 0.3s ease;
    filter: invert(1);
  }

  section {
    padding: 80px 20px;
  }

  .main .content h2 {
    font-size: 1em;
  }

  .animated-text h3 {
    font-size: 2.2em;
  }

  .content-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    margin-top: 30px;
  }

  .section-title {
    font-size: 1.8em;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .column {
    width: 100%;
    position: relative;
  }

  .about .content .col-right {
    margin-top: 40px;
  }

  /* Skills */

  .skills .content {
    flex-direction: column;
  }

  .skills .content .column {
    position: relative;
    width: 100%;
  }

  .skills .content .col-right {
    margin-top: 40px;
  }

  .contact-form {
    padding: 35px 40px;
  }
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: var(--light-primary-color);
  color: var(--dark-text-color);
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}